.main {
	padding: 1em;
	display: grid;
	grid-template: 'header header' 'operations operations' 'previews details' / 1fr 1fr;

	.header {
		font-size: 2em;
		text-align: center;
		grid-area: header;
	}

	.operations {
		grid-area: operations;
		padding: 0.5em;

		.add {
			padding: 0.25em 0.5em;
			border: 1px solid #303030;
			background: white;
			border-radius: 5px;
			cursor: pointer;

			&:hover {
				background: #dfdfdf;
			}
		}
	}

	.previews {
		grid-area: previews;
		background: white;
		border: 1px solid #8f8f8f;

		.list {
			list-style: none;
			padding: 0;
			margin: 0;
		}
	}

	.details {
		grid-area: details;
	}

	&.blur {
		filter: blur(4px);
	}
}

.overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.15);
	z-index: 2;
}
